.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;
    padding: 1em;
    gap: 1em;
}
.btn{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: .6em;
    width: 12em;
    color: white;
    background-color: #8f0029;
    translate: .1s ease;
    border-radius: 1em;
}
.btn:hover{
    background-color: #7a0008;
    transform: scale(97%);
    translate: .1s ease;
}