.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;
    padding: 1em;
    gap: 1em;
}
.title{
    font-size: 3em;
}
.btn{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: .6em;
    width: 12em;
    color: white;
    background-color: #003A43;
    translate: .1s ease;
    border-radius: 1em;
}
.btn:hover{
    background-color: #075b68;
    transform: scale(103%);
    cursor: pointer;
    translate: .1s ease;
}