.card{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex: 30%;
  min-height: 20em;
  min-width: 15em;
  border-radius: 1em;
  transition: .2s ease;

}
.card:hover{
  transform: scaleY(1.05);
  cursor: pointer;
  transition: .2s ease;

}